<div class="message">
  <div class="message__inner">
    <h2 class="message__nickname">{{ name }}</h2>
    <p class="message__body">{{ message }}</p>
    <span class="message__time">{{ date }}</span>
  </div>
</div>