* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  color: purple;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: #fff;
  font-size: 20px;
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}

.header {
  background: purple;
  color: #fff;
  padding: 15px 0;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin: 1em 0;
}

.sub-title {
  margin: 0.8em 0;
  transform: translateY(20px);
  transition: transform 0.8s, opacity 0.8s;
  opacity: 0;
}

.sub-title--visible {
  opacity: 1;
  transform: translateY(0);
}

.btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-height: 40px;
  font-family: inherit;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  border-radius: 3px;
  transition: opacity 0.4s;
  cursor: pointer;
}

.btn--success {
  background: green;
  color: #fff;
}

.btn--alert {
  background: red;
  color: #fff;
}

.transparent {
  opacity: 0.3;
}

.list {
  list-style: none;
  margin: 1rem 0;
}

.item {
  border: 1px solid purple;
  padding: 15px;
  cursor: pointer;
  margin: 0.8rem 0;
}

.actions {
  display: flex;
  width: 100%;
  margin-top: 25px;
}

.input-wrapper {
  position: relative;
}

.input-label {
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.4s;
  transform-origin: 0 0;
  cursor: text;
}

.input-label--focused {
  transform: translateY(-15px) scale(0.7);
}

.input {
  min-height: 40px;
  display: block;
  margin-right: 5px;
  width: 250px;
  border: 1px solid transparent;
  border-bottom: 1px solid #000;
  padding-right: 15px;
  outline: none;
  font-size: 16px;
}

.input:focus {
  border-bottom: 1px solid purple;
}

.to-do {
  display: flex;
  align-items: center;
  border: 1px solid purple;
  padding: 10px 15px;
  border-radius: 3px;
  margin-bottom: 15px;
}

.to-do__description {
  flex: 1;
}
